@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 0 $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 0 $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 0 $padding-horizontal-md;
  }
  >div{
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    h1{
      color: $cor-cinza;
      font-size: 1.6rem;
      font-weight: bold;
      letter-spacing: 1px;
      width: fit-content;
    }
  }
  &__image{
    width: 89px;
    height: 60px;
    align-items: center;
  }
  &__list {
    align-items: center;
    display: flex;
  }
  &__link {
    list-style-type: none;
    padding: 0 14px;
    a {
      color: $cor-cinza;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        color: $cor-azul-escuro;
      }
    }
  }
  &__btn{
    align-items: center;
    background: $gradient;
    border-radius: 4px;
    color: $cor-branco;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 1rem 2rem;
    &:hover {
      background: $gradient-hover;
    }
  }
}