@import "styles/variaveis";

.loginFormBtn{
    font-size: 1rem;
    border: none;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: $gradient;
    &:hover{
        background: $gradient-hover;
    }
}

