$font-size-normal: 1rem;

$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 10px;

$gradient: linear-gradient(to left, #9704C2, #5408FF);
$gradient-hover: linear-gradient(to left, #5408FF, #9704C2);
$sombra: 5px 5px 10px rgba(0, 0, 0, 0.4);

$cor-principal: #2A3342;
$cor-secundaria: #242424;
$cor-borda-cinza: #c0c0c0;
$cor-branco: #fff;
$cor-azul: #5408FF;
$cor-azul-escuro: #5f20f3;
$cor-cinza: #bbbbbb;
$cor-preta: #2c2c2c;