$font-size-normal: 1rem;
$font-size-medio: 2rem;
$font-size-grande: 3rem;
$font-size-extrag: 4rem;

$padding-horizontal-mb: 1rem;
$padding-horizontal-mobile: 2.76rem;
$padding-horizontal-sm: 2.25rem;
$padding-horizontal-md: 2.5rem;
$padding-horizontal: 3rem;

$gradient: linear-gradient(to left, #9704C2, #5408FF);
$gradient-hover: linear-gradient(to left, #5408FF, #9704C2);
$sombra: 5px 5px 10px rgba(0, 0, 0, 0.4);

$cor-principal: #2A3342;
$cor-secundaria: #242424;
$cor-borda-cinza: #c0c0c0;
$cor-branco: #fff;
$cor-branco-2: #d2d2d2;
$cor-azul: #5408FF;
$cor-lilas: #681c7a;
$cor-azul-escuro: #5122c0;
$cor-azul-2: #273245;
$cor-cinza: #bbbbbb;
$cor-preta: #262626;
$cor-preta-2: #323232;
$cor-verde: #038C3E;
