@import "styles/variaveis";
@import "styles/breakpoints";

.menu {
  background-color: $cor-principal;
  display: flex;
  justify-content: space-around;
  padding: 20px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
    padding: 20px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 20px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 20px $padding-horizontal-md;
  }
  &__imagem{
    width: 60px;
    height: 70px;
    align-items: flex-start;
  }
  &__list {
    align-items: center;
    display: flex;
  }
  &__link {
    list-style-type: none;
    padding: 0 20px;
    a {
      color: $cor-borda-cinza;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      transition: .2s ease;
      &:hover {
        color: $cor-azul-escuro;
      }
    }
  }
}