@import "styles/variaveis";
@import "styles/breakpoints";

.container{
  margin: 0 auto;
  width: 100%;
  &__login {
    align-items: center;
    background-color: $cor-azul-escuro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    width: 100%;
    @media (max-width: $mobile_sm){
      background-color: $cor-secundaria;
      max-height: 100vh;
      padding: 0 2rem;
    }
  }
  &__wrap{
    background-color: $cor-secundaria;
    border-radius: .8rem;
    box-shadow: $sombra;
    @media (max-width: $mobile_sm){
      box-shadow: none;
    }
    overflow: hidden;
    padding: 3rem 2rem;
    width: 390px;
  }
}