@import "styles/variaveis";
@import "styles/breakpoints";

.header{
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  &__left{
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 3.5rem;
    padding: $padding-horizontal;
    @media (max-width: $desktop_xsm) {
      padding: $padding-horizontal-mobile;
    }
    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
      padding: $padding-horizontal-sm;
    }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
      padding: $padding-horizontal-md;
    }
    &__ad{
      align-items: center;
      background-color: $cor-azul;
      border-radius: 4rem;
      color: $cor-branco;
      display: flex;
      justify-content: flex-start;
      margin-top: 6rem;
      padding: 1rem ;
      position: relative;
      text-transform: uppercase;
      width: fit-content;
      >span{
        z-index: 2;
      }
      >div{
        animation: slide 1400ms linear alternate;
        background-color: $cor-azul-2;
        border-radius: 40% 40% 60%;
        height: 80%;
        left: 8px;
        position: absolute;
        z-index: 1;
        width: 4rem;
      }  
    }
    &__text{
      color: $cor-branco;
      display: flex;
      flex-direction: column;
      font-size: 4rem;
      font-weight: bold;
      text-overflow: inherit;
      text-transform: uppercase;
      >div:nth-child(1){
        margin-top: 2rem;
      }
    }
    &__description{
      display: flex;
      margin-top: 1.5rem;
      span{
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 2px;
        margin-top: 1rem;
        text-transform: none;
        width: 50%;
      }
    }
    &__figures{
      display: flex;
      gap: 2rem;
      >div{
        display: flex;
        flex-direction: column;
        span{
          display: flex;
          gap: .5rem;
          color: $cor-branco;
          font-size: 2.5rem;
          font-weight: 500;
        }
        p{
          align-items: center;
          display: flex;
          color: $cor-cinza;
          font-size: .86rem;
          justify-content: center;
          text-transform: uppercase;
        }
      }
    }
    &__buttons{
      display: flex;
      gap: 1rem;
      font-weight: normal;
      >:nth-child(2){
        background-color: transparent;
        border: 3px solid $cor-azul-escuro;
        color: $cor-branco;
        &:hover{
          background-color: $cor-azul-escuro;
          border: 3px solid transparent;
          color: $cor-branco;
        }
      }
    }
    &__btn{
      align-items: center;
      background-color: $cor-azul-escuro;
      border: 3px solid transparent;
      color: $cor-branco;
      display: flex;
      font-weight: 400;
      justify-content: center;
      padding: 0.7rem;
      transition: 300ms all;
      width: 8rem;
      &:hover{
        background-color: transparent;
        border: 3px solid $cor-azul-escuro;
        color: $cor-azul-escuro;
        cursor: pointer;
      }
    }
  }
  
  &__right{
    background-color: transparent;
    flex: 1;
    position: relative;
    &__heartRate{
      align-items: center;
      background-color: $cor-azul-2;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      position: absolute;
      right: 4.4rem;
      top: 7rem;
      width: fit-content;
      z-index: 4;
      >span:nth-child(3){
        color: $cor-branco;
        font-size: 1.5rem;
      }
      >span:nth-child(2){
        color: $cor-cinza;
        font-size: 1.2rem;
      }
    }
    &__img{
      height: 40px;
      width: 50px;
      animation: heart-beat 1.5s linear infinite alternate;
    }
    &__frontimage{
      height: 640px;
      position: absolute;
      right: 12rem;
      top: 4rem;
      z-index: 3;
      width: 540px;
    }
    &__back{
      height: 600px;
      position: absolute;
      right: 0;
      top: 7rem;
      z-index: 2;
      width: 1000px;
    }
  }
}

@keyframes slide{
  0%{
    transform: translateX(220px) scale(.6) ;
  }
  100%{
    transform: translateX(7px) scale(1);
  }
}

@keyframes heart-beat{
  0%{transform: scale(1);}
  50%{transform: scale(1.2);}
  100%{transform: scale(.8);}
}