@import "styles/variaveis";
@import "styles/breakpoints";

.filtros {
  display: flex;
  gap: .6rem;
  flex-wrap: wrap;
  margin: 2rem 0;
  @media (max-width: $mobile) {
    flex-direction: row;
    gap: .5rem;
  }
  &__filtro {
    align-items: center;
    background-color: $cor-cinza;
    border: none;
    border-radius: 1rem;
    display: flex;
    font-size: 1rem;
    height: 40px;
    justify-content: center;
    width: 92px;
    @media (max-width: $mobile) {
      flex-direction: row;
      width: 76px;
      margin: auto;
    }
    &--ativo {
      background-color: $cor-azul;
      color: $cor-branco;
    }
    &:hover {
      cursor: pointer;
    }
  }
}