@import "styles/variaveis";
@import "styles/breakpoints";

.button{
  background: $cor-azul-escuro;
  border: none;
  border-radius: 2.5rem;
  color: $cor-branco;
  cursor: pointer;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: .8rem 1.5rem;
  text-align: center;
  transition: .4s;
  width: 110px;
  &:hover{
    box-shadow: 0 6px 12px rgba(7, 6, 34, 0.65);
  }
}